.modal-title h4 {
    font-weight: 800;
}

.add-collaborator-button {
  background-color: #c1c1d3;
  color: #646cff !important;
  border: 1px solid #c1c1d3;
  padding: 0.4rem 0.6rem;
  border-radius: 8px;
}

.add-collaborator-button:hover {
  background-color: #a1a6ab;
}

.remove-collaborator-button {
  background-color: #d12727;
  color: #e7e6e6 !important;
  border: 1px solid #d12727;
  padding: 0.4rem 0.6rem;
  border-radius: 8px;
}

.remove-collaborator-button:hover {
  background-color: #c41c1c;
}



/* Modal (dark mode) */

/* dialog's background should be transparent in dark-mode as well  */
.modal-dialog {
    background-color: transparent !important;
  }
  
  .dark-mode .modal-content {
    background-color: #292a2b !important;
    color: white !important;
  }
  
  .dark-mode .modal-header,
  .dark-mode .modal-footer {
    border-color: #555 !important;
  }
  
  .dark-mode .form-control,
  .dark-mode select {
    background-color: #3c3f44 !important;
    color: white !important;
    border: 1px solid #666 !important;
  }
  
  .dark-mode .form-control::placeholder {
    color: #ccc !important;
  }
  
  .dark-mode .btn-primary {
    background-color: #555 !important;
    border: none;
  }
  
  .dark-mode .btn-primary:hover {
    background-color: #777 !important;
  }
  
  .dark-mode .btn-secondary {
    background-color: #444 !important;
    border: none;
  }
  
  .dark-mode .btn-secondary:hover {
    background-color: #666 !important;
  }