:root {
  font-family: "Overpass Mono", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: "Overpass Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 302px;
  padding-top: 150px; 
}

.note-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-bottom: 302px;
  padding-top: 10px; 
}


.main-contents {
  text-align: center;
  margin-top: 50px;
  gap: 200px;
  padding-bottom: 270px;
  padding-top: 150px;
}

.title {
  font-family: "Overpass Mono", monospace;
  font-size: 36px;
  font-weight: bold;
  padding: 20px;
}

.subtitle {
  font-family: "Overpass Mono", monospace;
  font-size: 20px;
  margin-top: 10px;
  padding: 40px;
}

.start-button {
  margin-top: 30px;
  padding: 15px 30px;
  font-family: "Overpass Mono", monospace;
  font-size: 18px;
  font-weight: bold;
  color: #fafafa;
  background-color: #7f6bff;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #6a5acd;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-style: italic;
}
.note{
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}
.error {
  color: red;
  background: #F8D7DA;
  font-size: 20px;
  border: 1px #EA868F solid;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 10px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
